package current

import (
	"github.com/onsonr/nebula/ui/hero"
	"github.com/onsonr/nebula/ui/layout"
)

templ InitialView() {
	@layout.Root("Sonr.ID") {
		@layout.Container() {
			@hero.Title("Sonr.ID", "The decentralized identity layer for the web.")
			@hero.Start()
			@hero.Socials()
		}
	}
}
